#setting * {
  margin: 0 5px 0 0;
  vertical-align: revert;
}

#setting>label {
  font-weight: bold;
}

#setting>label>input[type="number"] {
  font-weight: revert;
  margin-left: 5px;
}

input[type="checkbox"] {
  margin: 5px 0 -10px 0;
  vertical-align: middle;
}

.reset { 
  all: revert; 
}

/* 커버 비율 수정 */
.cover-info-wrap .banner-wrap .banner {
  width: revert;
}

/* 배너 표시 끔 */
.product-banner {
  display: none;
}