#setting * {
  margin: 0 5px 0 0;
  vertical-align: revert;
}

#setting>label {
  font-weight: bold;
}

#setting>label>input {
  font-weight: revert;
  margin-left: 5px;
  vertical-align: middle;
}

input[type=checkbox] {
  margin: 5px;
}

/* 배너 표시 끔 */
#at-main>div[id]:first-of-type, .board-tail-banner {
  display: none;
}